@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Muli);
.snip1534 {
    font-family: 'Muli', sans-serif;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 10px 5px;
    min-width: 330px;
    max-width: 515px;
    width: 100%;
    color: #ffffff;
    text-align: left;
    font-size: 16px;
    background-color: #000000;
}

.snip1534 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
}

.snip1534 img {
    vertical-align: top;
    max-width: 100%;
    backface-visibility: hidden;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.75;
}

.snip1534 figcaption {
    z-index: 1;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(195, 86, 97, 0.85);
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, transparent 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, transparent 100%);
    padding: 20px;
}

.snip1534 figcaption:before {
    content: '';
    width: 20px;
    height: 20px;
    background-color: #fff;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 50%) rotate(45deg);
    transform: translate(-50%, 50%) rotate(45deg);
    position: absolute;
}

.snip1534 h3,
.snip1534 h5 {
    margin: 0;
    letter-spacing: 1px;
}

.snip1534 h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
}

.snip1534 h5 {
    font-weight: normal;
}

.snip1534 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.snip1534:hover > img,
.snip1534.hover > img {
    opacity: 1;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.blockquote {
    margin: 0 auto;
    padding: 0 0 30px;
    letter-spacing: 1px;
    opacity: 0.8;
    font-style: italic;
    font-weight: 300;
    color: #ffffff;
    text-align: left;
    line-height: 1.4em;
    width: 300px;
}


/* Demo purposes only */

body {
    background-color: #212121;
    text-align:center;
}